{% extends 'dashboard/base/index-govbr.html' %}
{% load static %}

{% block title %}Exames de Imagem{% endblock %}
{% load widget_tweaks %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/saude/enfermagem.css' %}"/>

<style>
    .dropdown {position: relative; display: inline-block;}
    .dropdown-button {background-color: #1351b4; color: white; padding: 10px 10px; border: none; border-radius: 5px; cursor: pointer; font-size: 14px;}
    .dropdown-menu {position: absolute; background-color: white; border: 1px solid #ccc; border-radius: 5px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); display: none; z-index: 1000; min-width: 185px;}
    .dropdown-menu.active {display: block;}
    .dropdown-menu button {background: none; border: none; padding: 10px 20px; text-align: left; width: 100%; cursor: pointer; font-size: 14px; color: #1351b4 !important;}
    .dropdown-menu button:hover {background-color: #f0f0f0;}
    #accountUploadedAvatar {width: 250px; height: 250px;}
    .hidden {display: none;}
    .flex {display: flex;}
    .space-between {justify-content: space-between;}
    .pointer {cursor: pointer;}
    .w50 {width: 50%;}
    .pdx10 {padding-right: 10px; padding-left: 10px;}
    .my5 {margin-top: 5px; margin-bottom: 5px;}
    .mt10 {margin-top: 10px;}
    .uploadphoto_text {text-align: center;}
    .uploadphoto_button {
        width: 174px;
        height: 195px;
        object-fit: contain;
        border-radius: 5px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
        border: solid 1px #dfdfdf;
        background-color: #ffffff;
        margin-right: 30px;
    }
    .imgUploaded {height: 122px; margin: 0 10px;}
    .swal2-container {z-index: 9999999999;}

    @media screen and (max-width: 768px) {
        #accountUploadedAvatar {
            max-width: 300px; /* Tamanho máximo para tablets */
        }
    }

    @media screen and (max-width: 576px) {
        #accountUploadedAvatar {
            max-width: 250px; /* Tamanho máximo para celulares */
        }
        #video {
            max-width: 200px;
            margin-left: 0px !important;
        }
        .modal-arquivo {
            max-width: 400px !important;
        }
        .btn-fechar{
            display: none;
        }
        .btn-add{
            display: none;
        }
        .btn-fechar-mt{
            margin-top: 15px;
            margin-right: 50px;
        }
        .btn-capturarfoto{
            display: none;
        }
        .btn-trocarcamera{
            display: none;
        }
        .btn-camera-text{
            display: none;
        }
    }

    .btn-disabled {
        pointer-events: none;
        color: #141516;
        text-decoration: none;
        cursor: not-allowed;
        opacity: 0.8;
    }

</style>

{% endblock %}

{% block content %}

{% include 'saude_enfermagem/includes/enfermagem/perfil_paciente.html' %}

<template>
    <div class="container br-card" style="border-radius:10px;">
        
        {% include 'saude_enfermagem/includes/enfermagem/solicitacoes_timeline.html' %}

        <div class="card-content">    
            <div class="br-table table-responsive" data-search="data-search" data-selection="data-selection" data-collapse="data-collapse" data-random="data-random">
                
                <div class="" style="width:90%; margin:0 auto;">
                    <div class="row" style="color:var(--blue);">
                        <div class="col-2" style="text-align:right;">
                            <p style="font-size:18px; color:var(--blue);"><b>Solicitação Médica</b></p>
                        </div>
                        <div class="col-md-auto">
                            <b><i class="fas fa-chevron-up" style="padding-top:5px; font-size:21px;"></i></b>
                        </div>
                        <div class="col-9">
                            <hr style="border:1px solid blue;">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                        </div>
                        <div class="col-md-auto">
                        </div>
                        <div v-if="listagemAplicacoes" class="col-9" style="text-transform: lowercase;">
                            <div class="col-md-auto ml-2 mt-2" v-for="(aplicacao, index) in listagemAplicacoes">
                                <p>${index + 1} - ${aplicacao.nome} - ${aplicacao.observacao}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-header mt-4">
                    <div>
                        <span class="br-divider mt-1 divider-grid col-xl-12 col-lg-12 col-md-12 col-sm-12" style="border-color: var(--interactive);"></span>
                    </div>
                    <div class="top-bar mt-2">
                        <div class="d-flex table-title">
                            <img src="{% static 'img/icons/lab.svg' %}" alt="Ícone do insumo" title="Ícone do insumo" style="display: block;"> 
                            <span class="mt-3 ml-4" style="display: block;">Lista de Exames de Imagem</span>
                        </div>
                    </div>
                </div>

                <div style="overflow-x: auto;">
                    <table class="table mt-3">
                        <thead>
                            <tr>
                                <th style="width:5%;"></th>
                                <th style="width:5%;"></th>
                                <th style="width:5%;"></th>
                                <th><b>Raio-X</b></th>
                                <th style="text-align: center;"><b>Situação</b></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(exame, index) in listagemAplicacoes">
                                <td class="text-center" style="padding: 5px;" :class="exame.situacao === 0 ? '' : 'disabled'">
                                    <i class="fa-solid fa-circle-plus" @click="objectExame = exame; modalAnexarAquivo('abrirAnexo')" :style="exame.situacao === 0 ? 'cursor: pointer' : ''" style="color: #1351B4; font-size: 20px;"></i>

                                    {% comment %} <div class="dropdown" :ref="'dropdown-' + index">
                                        <button type="button" class="dropdown-button" @click="toggleDropdown(index)"><i class="fa-solid fa-list font-size20"></i></button>
                                        <div :class="['dropdown-menu', { active: activeDropdown === index }]">
                                            <template>
                                                <button type="button" @click="objectExame = exame; modalAnexarAquivo('abrirFoto')" :style="exame.situacao === 0"><i class="fa-solid fa-camera" style="margin-left: 5px"></i>&nbsp; Tirar Foto</button>
                                                <button type="button" @click="objectExame = exame; modalAnexarAquivo('abrirAnexo')" :style="exame.situacao === 0"><i class="fas fa-paperclip"></i> Anexar Arquivo</button>
                                            </template>
                                        </div>
                                    </div> {% endcomment %}

                                </td>
                                <td class="text-center" style="padding: 5px;">
                                    <i class="fa-solid fa-eye" @click="visualizarInformacoes(exame)" style="color: #1351B4; font-size: 20px; cursor: pointer"></i>
                                </td>
                                <td v-if="detalhesTimeLine" class="text-center" :class="exame.situacao === 0 || atendimentoFinalizado ? 'disabled' : ''" style="padding: 5px;">
                                    <i class="fa-solid fa-trash-can" :style="exame.situacao === 1 || exame.situacao === 2 || !atendimentoFinalizado ? 'cursor: pointer' : ''" @click="showModalDelete(exame)" style="color: #1351B4; font-size: 20px;"></i>
                                </td>
                                <td>${converterParaCapitalized(exame.nome)}</td>
                                <td style="text-align: center;">
                                    <span v-if="exame.situacao === 0" class="br-tag" style="padding: 12px; font-size: 15px; height: 32px; background-color: #FF9D29 !important; border-radius: 25px; font-weight: var(--font-weight-semi-bold);">
                                        <i class="fa-solid fa-clock-rotate-left mr-2"></i> Aguardando
                                    </span>
                                <span v-if="exame.situacao === 1" class="br-tag" style="padding: 12px; font-size: 15px; height: 32px; background-color: #289e34f7 !important; border-radius: 25px; font-weight: var(--font-weight-semi-bold);">
                                        <i v-if="exame.situacao === 1" class="fa-solid fa-paperclip mr-2"></i>
                                        Pronto
                                    </span>
                                    <span v-if="exame.situacao === 2" class="br-tag" style="padding: 12px; font-size: 15px; height: 32px; background-color: #e52207 !important; border-radius: 25px; font-weight: var(--font-weight-semi-bold);">
                                        <i v-if="exame.situacao === 2" class="fa-solid fa-link-slash mr-2"></i>
                                        Cancelado
                                    </span>
                                    <span v-if="exame.situacao === 3" class="br-tag" style="padding: 12px; font-size: 15px; height: 32px; background-color: var(--interactive-light) !important; border-radius: 25px; font-weight: var(--font-weight-semi-bold);">
                                        <i v-if="exame.situacao === 3" class="fa-solid fa-arrow-rotate-right mr-2"></i>
                                        Reaberto
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
                <div class="table-footer">
                    <div class="col-12 text-right mt-4">
                        <a href="{% url 'saude_enfermagem:exames_imagem_list' %}" class="br-button secondary mr-3"> <i class="fas fa-arrow-left"></i> VOLTAR </a>
                        <button v-if="detalhesTimeLine" :disabled="atendimentoFinalizado"  @click="finalizarAtendimento('imagem')" type="button" class="br-button primary mr-3">
                            <i class="fa-solid fa-circle-check mr-2"></i> FINALIZAR ATENDIMENTO
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

{% endblock %}

{% block components-modal %}
    {% include 'saude_enfermagem/includes/enfermagem/modal_anexar_exame.html' %}
{% endblock %}

{% block script %}
<script src="{% static 'js/moment.locale.min.js' %}"></script>
<script src="{% static 'js/sweetalert2@11.min.js' %}"></script>

<script>
    moment.locale('pt-br');

    var app = new Vue({
        delimiters: ['${', '}'],
        el: '#base-vue',
        data: {
            {% include 'saude_enfermagem/includes/vue-atendimento-enfermagem-data.js' %},
            
            titulo: 'EXAME DE IMAGEM',
            iconeTitulo: '{% static "img/icons/icone-exame-imagem.svg" %}',
            exameListUrl: '{% url "saude_enfermagem:exames_imagem_list" %}',
            contagemSituacaoAplicacao: 0,
            deleteTitulo: '',
            deleteExameArquivo: '',
            arquivosNomes: [],
            arquivosFiles: [],
            photoCaptured: false, 
            cameraStarted: false, 
            activeDropdown: null,
            objectExame: '',
            comAnexo: true,
            justificativa: '',
            textAlert: 'Deseja finalizar o atendimento de exames imagens para este paciente?',
            urlRedirect: '{% url "saude_enfermagem:exames_imagem_list" %}',
            type: 'arquivo',
            dataTransferFoto: null,
            loadingBtn: false,
        },
        computed: {
            converterParaCapitalized() {
                return (frase) => {
                    return frase.split(' ').map(word => {
                      return word.charAt(0).toUpperCase() + word.slice(1).toLowerCase();
                    }).join(' ');
                };
            },
            solicitacoesNome() {
                return this.listagemAplicacoes.filter(item => item.situacao === 0).map(item => item.nome);
            },
            solicitacoesSemAnexo() {
                return  this.listagemAplicacoes.filter(item => item.situacao === 0);
            },
            atendimentoFinalizado() {
                let timeLine = this.detalhesTimeLine.timeline_solicitacoes.timeline_list.find((item) => item.tipo === 1);

                return true ? timeLine.situacao === 6 : false
            }
        },
        methods: {
            {% include 'saude_enfermagem/includes/vue-atendimento-enfermagem-functions.js' %},

            toggleDropdown(index) {
                this.activeDropdown = this.activeDropdown === index ? null : index;
            },
            onFileChange(event) {
                Array.prototype.push.apply(this.arquivosFiles, Array.from(event.target.files));
                this.arquivosNomes = this.arquivosFiles.map(file => file.name);
                this.comAnexo = true;
            },
            onDrop(file) {
                let arquivo = this.arquivosFiles.find(file => file.name);
                let index = this.arquivosFiles.indexOf(arquivo);
                this.arquivosFiles.splice(index, 1);
                this.arquivosNomes.splice(index, 1);
            },
            adicionarFoto() {
                const photoInput = document.getElementById('photoInput');
                const fileInput = document.querySelector('.account-image-reset');

                this.resetPhoto();
                this.stopCamera();

                if (photoInput) {
                    photoInput.files = this.dataTransferFoto;
                    const event = new Event('change');
                    photoInput.dispatchEvent(event);
                    fileInput.style.display = 'none';
                    this.photoCaptured = false;

                    this.onFileChange(event);
                } else {
                    console.error('Elemento photoInput não encontrado.');
                }
            },
            onPhotoChange(event) {
                this.photoCaptured = event.target.files.length > 0;
            },
            openCamera() {
                const constraints = { video: { facingMode: this.useFrontCamera ? 'user' : 'environment' } };
    
                navigator.mediaDevices.getUserMedia(constraints)
                .then((mediaStream) => {
                    this.currentStream = mediaStream;
                    const accountUserImage = document.getElementById('accountUploadedAvatar');
                    const btnCamera = document.getElementById('camera-btn');
                    const video = document.getElementById('video');
                    const captureBtn = document.getElementById('capture-btn');

                    accountUserImage.style.setProperty('display', 'none', 'important');
                    btnCamera.style.display = 'none';

                    video.style.display = 'inline';
                    captureBtn.style.removeProperty('display');
                    video.srcObject = mediaStream;
                    video.play();

                    this.cameraStarted = true;
                })
                .catch((err) => {
                    console.log('Erro ao acessar a webcam: ', err);
                });
            },
            stopCamera() {
                if (this.currentStream) {
                    this.currentStream.getTracks().forEach(track => track.stop());
                    this.currentStream = null;
                }
                const video = document.getElementById('video');
                const captureBtn = document.getElementById('capture-btn');
                const accountUserImage = document.getElementById('accountUploadedAvatar');
                const btnCamera = document.getElementById('camera-btn');

                if (video) {
                    video.style.display = 'none';
                }
                if (captureBtn) {
                    captureBtn.style.display = 'none';
                }
                if (accountUserImage) {
                    accountUserImage.style.removeProperty('display');
                }
                if (btnCamera) {
                    btnCamera.style.removeProperty('display');
                }

                this.cameraStarted = false;
            },
            capturePhoto() {
                const video = document.getElementById('video');
                const canvas = document.getElementById('canvas');
                const accountUserImage = document.getElementById('accountUploadedAvatar');
                const fileInput = document.querySelector('.account-image-reset');
                const btnCamera = document.getElementById('camera-btn');
                const switchCameraBtn = document.getElementById('switch-camera-btn');
                const photoInput = document.getElementById('photoInput');
                const captureBtn = document.getElementById('capture-btn');
    
                canvas.width = video.videoWidth;
                canvas.height = video.videoHeight;
                canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);
    
                this.verificacaoAnexo = true;
    
                canvas.toBlob((blob) => {
                    const now = new Date();
                    const formattedDate = `${now.getFullYear()}-${String(now.getMonth() + 1).padStart(2, '0')}-${String(now.getDate()).padStart(2, '0')}`;
                    const formattedTime = `${String(now.getHours()).padStart(2, '0')}-${String(now.getMinutes()).padStart(2, '0')}`;
                    const fileName = `photo_${formattedDate}_${formattedTime}.png`;
                    
                    const file = new File([blob], fileName, { type: 'image/png' });
    
                    const fileURL = URL.createObjectURL(file);
                    fileInput.style.removeProperty('display');
                    btnCamera.style.removeProperty('display');
                    switchCameraBtn.style.display = 'none';
                    accountUserImage.style.display = 'inline';
    
                    if (accountUserImage) {
                        accountUserImage.src = fileURL;
                        accountUserImage.alt = "Foto do exame";
                    }

                    const dataTransfer = new DataTransfer();
                    dataTransfer.items.add(file);
                    if (photoInput) {
                        photoInput.files = dataTransfer.files;
                        this.dataTransferFoto = dataTransfer.files;
                    } else {
                        console.error('Elemento photoInput não encontrado.');
                    }
    
                    this.photoCaptured = true;
                    this.arquivoNome = file.name;
                });
    
                this.currentStream.getTracks().forEach(track => track.stop());
                video.style.display = 'none';
                captureBtn.style.display = 'none';
                this.cameraStarted = false;
            },
            switchCamera() {
                this.useFrontCamera = !this.useFrontCamera;
                if (this.currentStream) {
                    this.currentStream.getTracks().forEach(track => track.stop());
                }
                this.openCamera();
            },
            resetPhoto() {
                const accountUserImage = document.getElementById('accountUploadedAvatar');
                const fileInput = document.querySelector('.account-image-reset');
                const resetImage = "{% static 'img/saude_undraw/undraw_add_files.png' %}";
                fileInput.style.display = 'none';
                this.verificacaoAnexo = false;
    
                this.photoCaptured = false;
    
                fileInput.onchange = () => {
                    if (fileInput.files[0]) {
                        fileInput.style.removeProperty('display');
                        accountUserImage.src = window.URL.createObjectURL(fileInput.files[0]);
                    }
                };
                fileInput.onclick = () => {
                    fileInput.value = '';
                    accountUserImage.src = resetImage;
                };
            },
            resetModal() {
                // Desligar a câmera se estiver ligada
                if (this.currentStream) {
                    this.currentStream.getTracks().forEach(track => track.stop());
                    this.currentStream = null;
                }
                // Redefinir o estado do componente
                const fileInput = document.querySelector('.account-image-reset');
                fileInput.style.setProperty('display', 'none');

                this.comAnexo = false;
                this.justificativa = '';
                this.arquivosFiles = [];
                this.arquivosNomes = [];
                this.photoCaptured = false;
                this.cameraStarted = false;
                this.modalAnexarAquivo('fecharFoto');
    
                // Redefinir a imagem para a imagem inicial
                const accountUserImage = document.getElementById('accountUploadedAvatar');
                const resetImage = "{% static 'img/saude_undraw/undraw_add_files.png' %}";
                if (accountUserImage) {
                    accountUserImage.style = 'display: block;';
                    accountUserImage.src = resetImage;
                    accountUserImage.alt = "Imagem inicial";
                }
    
                // Ocultar elementos relacionados à câmera
                const video = document.getElementById('video');
                const captureBtn = document.getElementById('capture-btn');
                if(video){
                    video.style.display = 'none';
                    captureBtn.style.display = 'none';
                }
            },
            getExamesImagem(){
                let url  = `{% url 'saude_enfermagem:atendimentos-exames' pk='00000000-0000-0000-0000-000000000000' %}?tipo_exame=imagem&lista_chamada_pk=${this.objectPk}`
                axios.get(url.replace('00000000-0000-0000-0000-000000000000', this.objectPk))
                .then((response)=>{  
                    this.listagemAplicacoes =  response.data
                });
            },
            postExame() {
                const forExame = new FormData();
                this.loadingBtn = true;

                forExame.append('com_anexo', this.comAnexo);
                forExame.append('arquivo_nome', this.arquivosNomes);
                forExame.append('lista_chamada_pk', this.objectPk);

                if (this.arquivosFiles.length > 0) {
                    this.arquivosFiles.forEach((file) => {
                        forExame.append('arquivos', file);
                    });
                } else {
                    console.error('Nenhum arquivo anexado ou foto capturada');
                    return;
                }
            
                let url = "{% url 'saude_enfermagem:atendimentos-exames' pk='00000000-0000-0000-0000-000000000000' %}";
                axios.put(url.replace('00000000-0000-0000-0000-000000000000', this.objectExame.id), forExame, {
                    headers: { 'Content-Type': 'multipart/form-data' },
                }).then((response) => {
                    this.resetPhoto();
                    this.resetModal();

                    this.getExamesImagem();
                    this.arquivosFiles = [];
                    this.arquivosNomes = [];

                    this.activeDropdown = null;
                    this.loadingBtn = false;

                    this.SweetAlert("Registro salvo com sucesso!", "success");
                }).catch((error) => {
                    console.error('Erro ao salvar o exame:', error);
                    this.SweetAlert("Erro ao salvar o exame", "error");
                });
            },
            deleteExameImagem(object){
                let url  = "{% url 'saude_enfermagem:atendimentos-exames' pk='00000000-0000-0000-0000-000000000000' %}"
                axios.delete(url.replace('00000000-0000-0000-0000-000000000000', object.id))
                .then((response)=>{
                    const foundExame = this.listagemAplicacoes.find(param => param.id === object.id);
                    if (foundExame) {
                        foundExame.arquivo_nome = '';
                        foundExame.arquivo = null;
                        foundExame.situacao = response.data.situacao;
                    }
                    this.SweetAlert("Anexo removido com sucesso!", "success")
                })
            },
            showModalDelete(object){
                Swal.fire({
                    html: `<h2 class="swal2-title" id="swal2-title" style="display: block; font-size: 20px; color: var(--interactive);">Atenção!</h2>
                            <div class="swal2-html-container" id="swal2-html-container" style="display: block; font-size: 20px; color: var(--interactive); margin-top: 7px;">Deseja realmente remover este anexo</div>
                        `,
                    icon: "warning",
                    cancelButtonText: 'Cancelar',
                    confirmButtonText: 'Confirmar',
                    showCancelButton: true,
                    showConfirmButton: true,
                    reverseButtons: true,
                    allowOutsideClick: false,
                    customClass: {popup: 'custom-popup-anexar-info',},
                    preConfirm: () => {
                        this.deleteExameImagem(object)
                    },
                  });
            },
            visualizarInformacoes(instance){
                let arquivoExameUrl = [];

                let arquivosComplementaresExames = []
                if(instance.arquivos.length > 0){
                    for(let i = 0; i < instance.arquivos.length; i++){
                        arquivosComplementaresExames.push(
                            `<div class="col-10 mt-2" onclick="window.open('/media/${instance.arquivos[i].arquivo}', '_blank')" style="text-transform: uppercase; border: 1px dashed #1351b4; padding: 6px; text-align: center; cursor: pointer;">
                                <i class="fas fa-file-image text-color-blue-1gov" style="font-size: 25px; margin-right: 19px;"></i>
                                <span style="color: var(--interactive-light);">${instance.arquivos[i].nome.length > 30 ? `...${instance.arquivos[i].nome.slice(-30)}` : instance.arquivos[i].nome}</span>
                            </div>`
                        )
                    }
                }

                if(instance.arquivo){
                    arquivoExameUrl.push(
                        `<div class="col-10" onclick="window.open('${instance.arquivo}', '_blank')" style="text-transform: uppercase; border: 1px dashed #1351b4; padding: 6px; text-align: center; cursor: pointer;">
                            <i class="fas fa-file-image text-color-blue-1gov" style="font-size: 25px; margin-right: 19px;"></i>
                            <span style="color: var(--interactive-light);">${instance.arquivo_nome.length > 30 ? `...${instance.arquivo_nome.slice(-30)}` : instance.arquivo_nome}</span>
                        </div>`
                    )
                }else{
                    arquivoExameUrl.push(`
                        <div class="col-10" style="text-transform: uppercase; border: 1px dashed #1351b4; padding: 6px; text-align: center;">
                            <i class="fas fa-file-image text-color-blue-1gov" style="font-size: 25px; margin-right: 19px;"></i>
                            <span style="color: var(--interactive-light);">Sem arquivo anexado</span>
                        </div>`
                    )
                }
                Swal.fire({
                    html: `
                        <div class="swal2-title swal2-title-custom text-left" id="swal2-title" style="display: block; height: 48px; margin-top: -32px;">
                            <h2 class="ml-3">
                                <i class="fas fa-file-signature text-color-blue-1gov" style="font-size: 25px; margin-right: 5px;"></i>
                                <label class="text-color-blue-1gov custom-text" style="font-size: 20px !important;">DETALHES DO EXAME DE IMAGEM</label>
                                <button type="button" class="close mr-2" aria-label="Close" onclick="Swal.close()" style="border: 0px; color: var(--blue-vivid-60);">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </h2>
                        </div>
        
                        <div class="container" style="padding: 50px; margin-top: -30px; padding-left: 20px;">
                            <div class="row br-input justify-content-center mt-2">
                                <div class="col-lg-2 col-sm-12 col-lg-left col-md-right">
                                    <label class="text-color-blue-1gov custom-text">Data:</label>
                                </div>
                                <div class="col-lg-10 col-sm-12 br-input">
                                    <input class="input-highlight-labeless capslock custom-input-info" value="${this.convertDate(instance.created_at, 'L')}" type="text" readonly disabled>
                                </div>
                                <div class="col-lg-2 col-sm-12 col-lg-left col-md-right">
                                    <label class="text-color-blue-1gov custom-text">Nome do paciente:</label>
                                </div>
                                <div class="col-lg-10 col-sm-12 br-input">
                                    <input class="input-highlight-labeless capslock custom-input-info" value="${this.paciente.nome}" type="text" readonly disabled>
                                </div>
                                <div class="col-lg-2 col-sm-12 col-lg-left col-md-right">
                                    <label class="text-color-blue-1gov custom-text">Médico:</label>
                                </div>
                                <div class="col-lg-10 col-sm-12 br-input">
                                    <input class="input-highlight-labeless capslock custom-input-info" value="${instance.medico_solicitante.nome}" type="text" readonly disabled>
                                </div>
                                <div class="col-lg-2 col-sm-12 col-lg-left col-md-right">
                                    <label class="text-color-blue-1gov custom-text">Exame:</label>
                                </div>
                                <div class="col-lg-10 col-sm-12 br-input">
                                    <input class="input-highlight-labeless capslock custom-input-info" value="${instance.nome}" type="text" readonly disabled>
                                </div>
                                <div class="col-lg-2 col-sm-12 col-lg-left col-md-right mt-2">
                                    <label class="text-color-blue-1gov custom-text">Justificativa da solicitação:</label>
                                </div>
                                <div class="col-lg-10 col-sm-12 br-input mt-2">
                                    <textarea class="input-highlight-labeless w100 capslock mt-1 custom-input-info" type="text" style="height:180px;" readonly disabled>${instance.justificativa ? instance.justificativa : 'Sem justificativa'}</textarea>
                                </div>
                            </div>
                            <div class="d-flex align-items-end flex-column bd-highlight mb-3" style="padding-left: 6px;">
                                ${arquivoExameUrl}
                                ${arquivosComplementaresExames.join('')}
                                <div class="col-lg-10 col-sm-12 mt-2" style="text-align: center;">
                                    <p style="color:#404040;">Clique no link a cima para visualizar o anexo.</p>
                                </div>
                            </div>
                        </div>
                    `,
                    cancelButtonText: '<i class="fa-solid fa-xmark mr-2"></i> Fechar',
                    showCancelButton: false,
                    showConfirmButton: false,
                    reverseButtons: true,
                    showClass: {popup: 'animated fadeInDown faster',},
                    hideClass: {popup: 'animated fadeOutUp faster',},
                    customClass: {popup: 'custom-popup-view', container: 'custom-swal-container', actions: 'actions-custom'},
                });

            },
        },
        mounted(){
            this.getTimeline()
            this.getExamesImagem()
        }
    });
</script>
{% endblock %}