{% extends 'dashboard/base/index-govbr.html' %}
{% block title %}{% if object %}Edição{% else %}Licença{% endif %} SEMURB{% endblock %}
{% load widget_tweaks %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}"/>
{% endblock %}
{% block content %}
<div class="container-lg">

    <div class="row mt-1">
        <div class="col-md">
            <div class="br-card">
                <div class="card-header">
                    <div class="d-flex">
                        <div class="ml-3">
                            <div class="text-weight-semi-bold text-up-02 color-title font-size24">
                                LICENÇA SEMURB - SOLICITAR LICENÇA FUNCIONAMENTO
                            </div>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="card-content pt-0">
                    <form
                        id="cid_form"
                        class="col-xl-12 col-lg-12 col-md-12 col-sm-12"
                        method="post"
                    >
                        {% csrf_token %}
                        <div class="card-body">
                            <div class="form-group row">
                                <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11">
                                    <div class="br-input mt-2">
                                        <label for="id_nome">Tipo de Alvará<span class="text-danger">*</span></label>
                                    </div>
                                </div>
                            </div>
                              <div class="form-group row">
                                <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11">
                                    <div class="br-input mt-2">
                                        <label for="id_codigo">Tipo de Alvará:<span class="text-danger">*</span></label>
                                        <input type="text" name="alvara" id="tipo_alvara" class="input-com-alfanumericas" placeholder="Ex.: 12.345.678/0001-90" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11">
                                    <div class="br-input mt-2">
                                        <label for="id_codigo">CNPJ:<span class="text-danger">*</span></label>
                                        <input type="text" name="cnpj" id="id_cnpj" class="input-com-alfanumericas" placeholder="Ex.: 12.345.678/0001-90" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11">
                                    <div class="br-input mt-2">
                                        <label for="id_codigo">Inscrição Mercantil:<span class="text-danger">*</span></label>
                                        <input type="text" name="inscricao" id="indcricao_mercantil" class="input-com-alfanumericas" placeholder="Ex.: 12.345.678/0001-90" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11">
                                    <div class="br-input mt-2">
                                        <label for="id_codigo">CPF Do Requirente:<span class="text-danger">*</span></label>
                                        <input type="text" name="cpf" id="cpf_requirente" class="input-com-alfanumericas" placeholder="Ex.: 123.456.789-09" required>
                                    </div>
                                </div>
                            </div>
                             <div class="form-group row">
                                <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11">
                                    <div class="br-input mt-2">
                                        <label for="id_codigo">RG do Requirente:<span class="text-danger">*</span></label>
                                        <input type="text" name="rg" id="rg_rqeuirente" class="input-com-alfanumericas" placeholder="Ex.: 12.345.678-9" required>
                                    </div>
                                </div>
                            </div>
                            
                            
                            {% include 'dashboard/includes/explicacao-campos-obrigatorios.html' %}
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer ml-6">
                            {% if form.errors %}
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <div class="br-message danger" role="alert">
                                            <div class="icon"><i class="fas fa-times-circle fa-lg" aria-hidden="true"></i> </div>
                                            <div class="content"><span class="message-title">Erro no campo {{ field.label }}.</span><span class="message-body"> {{ error }}</span></div>
                                            <div class="close">
                                                <button class="br-button circle small" type="button" aria-label="content"><i class="fas fa-times" aria-hidden="true"></i></button>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                            {% endif %}
                            <div class="button-container">
                                <a href="#" class="br-button secondary mt-3 mr-3 buttonvoltartb2 buttonreturnmobile">
                                    Limpar
                                </a>
                                <button type="submit" class="br-button primary mt-3 buttonsavemobile">
                                    Pŕoximo
                                </button>
                            </div>
                        </div>
                        <!-- /.card-footer -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/jquery.mask.min.js' %}"></script>
<script src="{% static 'js/mask.js' %}"></script>

<script src="{% static 'js/alterar_caracteres_input_tempo_real.js' %}"></script>
{% endblock %}