{% extends 'dashboard/base/index-govbr.html' %}
{% block title %}{% if object %}Edição{% else %}Cadastro{% endif %} de Profissional{% endblock %}
{% load widget_tweaks %}
{% load static %}
{% load custom_filters %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}"/>
<link rel="stylesheet" href="{% static 'css/campos-ocultos-profissional.css' %}"/>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'libs/select2/css/select2.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/modal-notificacao-usuario.css' %}"/>
<link rel="stylesheet" href="{% static 'css/style.css' %}"/>
<link rel="stylesheet" href="{% static 'css/responsividade_tb.css' %}"/>
<link rel="stylesheet" href="{% static 'css/responsividade.css' %}"/>
<style>
    .br-breadcrumb .crumb-list .crumb a {
        max-width: 220px !important;
    }
    .coren-tecnico-enfermagem {
        flex-basis: 91.6666666667%;
        max-width: 91.6666666667%;
    }
</style>
{% endblock %}
{% block content %}
<div class="container-lg">
    {% include 'dashboard/includes/saude/breadcrumb.html' %}

    <div class="row mt-1">
        <div class="col-md">
            <div class="br-card">
                <div class="card-header">
                    <div class="d-flex">
                        <div class="ml-3">
                            <div class="text-weight-semi-bold text-up-02 color-title font-size24">
                                {% comment %} <img src="{% static 'img/icons/icone-profissional.svg' %}" alt="Ícone de profissional" title="Ícone de profissional" style="display: block;">
                                <span class="mt-1 ml-4 text-weight-semi-bold text-up-02" style="display: block;">{% if object %}EDITAR{% else %}ADICIONAR{% endif %} PROFISSIONAL</span> {% endcomment %}

                                <i class="fa-solid fa-user-tie mr-2"></i> {% if object %}EDITAR INFORMAÇÕES DO{% else %}CADASTRAR{% endif %} PROFISSIONAL
                            </div>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="card-content pt-0">
                    <form class="col-xl-12 col-lg-12 col-md-12 col-sm-12" method="post">
                        {% csrf_token %}
                        
                        <div class="card-body">
                            <div class="form-group row">
                                <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11">
                                    <div class="br-input mt-2">
                                        <label for="id_nome_profissional">Nome do Profissional <span class="text-danger">*</span></label>
                                        {% render_field form.nome_profissional class="input-com-alfanumericas" type="text" placeholder="Ex.: Paulo da Silva Santos" %}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11">
                                    <div class="br-input mt-2">
                                        <label for="id_tipo_profissional">Tipo de Profissional <span class="text-danger">*</span></label>
                                        {% render_field form.tipo_profissional type="text" class="select-busca-grid campo-select" style="width: 100%" required="true" %}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11">
                                    <div class="br-input mt-2">
                                        <label for="id_cpf">CPF <span class="text-danger">*</span></label>
                                        {% render_field form.cpf class="mask-cpf" type="text" placeholder="Ex.: 247.374.630-35" %}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row campo-oculto-container">
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 campo-oculto-coren">
                                    <div class="br-input mt-2">
                                        <label for="id_coren">COREN <span class="text-danger">*</span></label>
                                        {% render_field form.coren type="text" %}
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 campo-oculto-crm">
                                    <div class="br-input mt-2">
                                        <label for="id_crm">CRM <span class="text-danger">*</span></label>
                                        {% render_field form.crm type="text" %}
                                    </div>
                                </div>
                                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 campo-oculto-cns">
                                    <div class="br-input mt-2">
                                        <label for="id_cns">CNS <span class="text-danger">*</span></label>
                                        {% render_field form.cns type="text" %}
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 campo-oculto-cbo">
                                    <div class="br-input mt-2">
                                        <label for="id_cbo">CBO <span class="text-danger">*</span></label>
                                        {% render_field form.cbo type="text" %}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11">
                                    <div class="br-input mt-2">
                                        <label for="id_cep">CEP</label>
                                        {% render_field form.cep class="mask-cep" onblur="pesquisacep()" type="text" placeholder="Ex.: 01153-000" %}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11">
                                    <div class="br-input mt-2">
                                        <label for="id_endereco">Endereço <span class="text-danger">*</span></label>
                                        {% render_field form.endereco placeholder="Ex.: Rua Vitorino Carmilo" type="text" class="input-com-alfanumericas" %}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11">
                                    <div class="br-input mt-2">
                                        <label for="id_numero">N°</label>
                                        {% render_field form.numero type="number" placeholder="Ex: 200" %}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11">
                                    <div class="br-input mt-2">
                                        <label for="id_complemento">Complemento</label>
                                        {% render_field form.complemento type="text" class="input-com-alfanumericas" placeholder="Ex.: Apt. 42" %}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11">
                                    <div class="br-input mt-2">
                                        <label for="id_bairro">Bairro <span class="text-danger">*</span></label>
                                        {% render_field form.bairro class="input-com-alfanumericas" type="text" placeholder="Ex.: Centro" %}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11">
                                    <div class="br-input mt-2">
                                        <label for="id_estado">UF <span class="text-danger">*</span></label>
                                        {% render_field form.estado type="text" class="select-busca-grid campo-select" style="width: 100%" required=required %}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11">
                                    <div class="br-input mt-2">
                                        <label for="id_municipio">Município <span class="text-danger">*</span></label>
                                        {% render_field form.municipio type="text" class="select-busca-grid campo-select" style="width: 100%" required=required %}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11">
                                    <div class="br-input mt-2">
                                        <label for="id_telefone_1">Telefone 1 <span class="text-danger">*</span></label>
                                        {% render_field form.telefone_1 class="mask-telefone" type="text" placeholder="(84) 99999-9999" %}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11">
                                    <div class="br-input mt-2">
                                        <label for="id_telefone_2">Telefone 2</label>
                                        {% render_field form.telefone_2  class="mask-telefone" type="text" placeholder="(84) 99999-9999" %}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11">
                                    <div class="br-input mt-2">
                                        <label for="id_email">E-mail
                                        <span class="text-danger">*</span></label>
                                        {% render_field form.email type="email" required=required placeholder="Ex.: paula-silva-santos@gmail.com" %}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11">
                                    <div class="br-input mt-2">
                                        <label for="id_situacao">Situação <span class="text-danger">*</span></label>
                                        {% render_field form.situacao type="text" class="select-busca-grid campo-select" style="width: 100%" %}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11">
                                    <div class="br-input mt-2">
                                        <label for="id_unidade_saude">Unidade <span class="text-danger">*</span></label>
                                        {% render_field form.unidades_saude type="text" class="select-busca-grid campo-select mt-1" style="width: 100%" required=required %}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11">
                                    <div class="br-input input-button mt-2">
                                        <label for="id_senha">Senha <span class="text-danger">{% if object %}{% else %}*{% endif %}</span></label>
                                        {% if object %}
                                            {% render_field form.senha type="password" placeholder="Digite sua senha"%}
                                        {% else %}
                                            {% render_field form.senha type="password" placeholder="Digite sua senha" required=required %}
                                        {% endif %}
                                        <button class="br-button" type="button" aria-label="Mostrar senha"><i class="fas fa-eye" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11">
                                    <div class="br-input input-button mt-2">
                                        <label for="id_confirmacao_senha">Confirmação de Senha <span class="text-danger">{% if object %}{% else %}*{% endif %}</span></label>
                                        {% if object %}
                                            {% render_field form.confirmacao_senha type="password" placeholder="Digite sua senha novamente" %}
                                        {% else %}
                                            {% render_field form.confirmacao_senha type="password" placeholder="Digite sua senha novamente" required=required %}
                                        {% endif %}
                                        <button class="br-button" type="button" aria-label="Mostrar senha"><i class="fas fa-eye" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            {% comment %} Explicação da indicação de campos obrigatórios {% endcomment %}
                            {% include 'dashboard/includes/explicacao-campos-obrigatorios.html' %}
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer ml-6">
                            {% if form.errors %}
                                {% for error in  form|join_to_error_messages%}
                                    <div class="br-message danger" role="alert">
                                        <div class="icon"><i class="fas fa-times-circle fa-lg"
                                                            aria-hidden="true"></i>
                                        </div>
                                        <div class="content">
                                            {% if error|get_element_dict:"field_label" %}
                                                <span class="message-title">Erro no campo {{ error|get_element_dict:"field_label" }}: </span><span class="message-body"> {{ error|get_element_dict:"error"  }}</span>
                                            {% else %}
                                                <span class="message-title">Erro: </span><span class="message-body"> {{ error|get_element_dict:"error"  }}</span>
                                            {% endif %}
                                        </div>
                                        <div class="close">
                                            <button class="br-button circle small" type="button"
                                                    aria-label="content"><i
                                                    class="fas fa-times" aria-hidden="true"></i></button>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <div class="button-container">
                                <a href="{% url 'saude_cadastro:profissional_list' %}" class="br-button secondary mt-3 mr-3 buttonreturnmobile">
                                    <i class="fas fa-arrow-left"></i> Voltar
                                </a>
                                <button type="submit" class="br-button primary mt-3 buttonsavemobile">
                                    <i class="fas fa-save"></i> Salvar
                                </button>
                            </div>
                        </div>
                        <!-- /.card-footer -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'dashboard/includes/modals-notificacao-usuario.html' %}
{% endblock %}

{% block script %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/i18n/pt.js"></script>
<script src="{% static 'js/gerenciamento_select2.js' %}"></script>

<script src="/static/smart-selects/admin/js/chainedfk.js"></script>
<script src="/static/smart-selects/admin/js/bindfields.js"></script>

<script src="{% static 'js/gerenciamento_select_tipo_de_profissional.js' %}"></script>

<script src="{% static 'js/alterar_caracteres_input_tempo_real.js' %}"></script>

<script src="{% static 'js/jquery.mask.min.js' %}"></script>
<script src="{% static 'js/mask.js' %}"></script>
{% endblock %}