{% extends 'dashboard/base/index-govbr.html' %}
{% block title %}Listagem de Tipos de Posologia{% endblock %}
{% load widget_tweaks %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}"/>
<link rel="stylesheet" href="{% static 'css/estilizacao-grid.css' %}"/>
<link rel="stylesheet" href="{% static 'css/icones-acoes.css' %}"/>
<link rel="stylesheet" href="{% static 'css/icones-acoes-mod-cadastro.css' %}"/>
<link rel="stylesheet" href="{% static 'css/modal-notificacao-usuario.css' %}"/>
<style>
    .br-breadcrumb .crumb-list .crumb a {
        max-width: 220px !important;
    }
    td[data-th="Quantidade"]{
        text-align: center;
    }
</style>
{% endblock %}
{% block content %}
<div class="container-lg">
    {% include 'dashboard/includes/saude/breadcrumb.html' %}

    <div class="row mt-1">
        <div class="col-md">
            <div class="br-card">
                <div class="card-header">
                    <div class="d-flex">
                        <div class="ml-3">
                            <div class="text-weight-semi-bold text-up-02 color-title font-size24">
                                {% comment %} <img src="{% static 'img/icons/icone-posologia.svg' %}" alt="Ícone de posologia" title="Ícone de posologia" style="display: block;">
                                <span class="mt-1 ml-4" style="display: block;">TIPOS DE POSOLOGIA</span> {% endcomment %}
                                <i class="fas fa-syringe font-size25 mr-2"></i> TIPOS DE POSOLOGIA
                            </div>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="card-content mt-n10-tb">
                    <form
                        class="box-wdth-search"
                        id="principio_ativo_form"
                        method="get"
                    >
                        {% csrf_token %}
                        <div class="card-body">
                            <div class="form-group row col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                    <div class="br-input">
                                        <label for="id_nome_filtro">Tipo</label>
                                        <input
                                            id="id_nome_filtro"
                                            class="input-com-alfanumericas"
                                            name="nome_filtro"
                                            type="text"
                                            value="{{nome_filtro}}"
                                        >
                                    </div>
                                </div>
                                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5">
                                    <div class="br-input">
                                        <label for="id_quantidade_por_dia_filtro">Quantidade por dia</label>
                                        <input
                                            id="id_quantidade_por_dia_filtro"
                                            name="quantidade_por_dia_filtro"
                                            type="number"
                                            min="0"
                                            value="{{quantidade_por_dia_filtro}}"
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer mt-4 ml-6 buttonbusc2tb2">
                            <button type="submit" class="br-button primary ml-3">
                                <i class="fas fa-search"></i> Buscar
                            </button>
                        </div>
                        <!-- /.card-footer -->
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% comment %} Mensagens de Alerta {% endcomment %}
    {% include 'dashboard/includes/mensagens.html' %}
    <div class="row">
        <div class="col-md">
            <div class="br-card hover">
              <div class="card-content">
                <div class="br-table" data-search="data-search" data-selection="data-selection" data-collapse="data-collapse"
                    data-random="data-random">
                    <div class="table-header">
                        <div>
                            <span class="br-divider mt-1 divider-grid col-xl-12 col-lg-12 col-md-12 col-sm-12" style="border-color: var(--interactive);"></span>
                        </div>
                        <div class="top-bar mt-2">
                            <div class="table-title">
                                {% comment %} <img src="{% static 'img/icons/icone-posologia.svg' %}" alt="Ícone de posologia" title="Ícone de posologia" style="display: block; height: 30px;"> 
                                <span class="mt-1 ml-4" style="display: block;">Tipos de Posologia Registrados</span> {% endcomment %}
                                <i class="fa-solid fa-syringe mr-2" style="font-size: 20.16px;"></i> <span>Tipos de Posologia Registrados</span>
                            </div>
                            <div class="search-trigger">
                                <a href="{% url 'saude_cadastro:tipoposologia_add' %}" class="br-button primary"><i class="fas fa-plus-circle"></i> Adicionar</a>
                            </div>
                        </div>
                    </div>
                    <table class="mt-2">
                        <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th>Tipo</th>
                            <th style="width: 180px; text-align: center;">Quantidade por dia</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if tiposdeposologia %}
                            {% for tipodeposologia in tiposdeposologia %}
                                <tr>
                                    <td data-th="Editar">
                                        <a href="{% url 'saude_cadastro:tipoposologia_update' pk=tipodeposologia.id %}"><i
                                            class="fas fa-edit" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                    <td data-th="Excluir">
                                        <a href="javascript:void(0)" onclick="confirmCancel('{% url 'saude_cadastro:tipoposologia_delete' tipodeposologia.id %}', 'tipo de posologia')">
                                            <i class="fas fa-trash-alt" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                    <td data-th="Tipo de Posologia">{{ tipodeposologia.nome }}</td>
                                    <td data-th="Quantidade">{{ tipodeposologia.quantidade }}</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <p style="text-align: center" class="my-2">Não encontramos nenhum dado para a pesquisa realizada!</p>
                        {% endif %}
                        </tbody>
                    </table>
                    {% comment %} Paginação {% endcomment %}
                    {% include 'dashboard/includes/paginacao.html' %}
                </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'dashboard/includes/modals-notificacao-usuario.html' %}
</div>
{% endblock %}

{% block components-modal %}
    {% include 'dashboard/includes/confirmar_cancelar_remocao.html' %}
{% endblock %}

{% block script %}
<script src="{% static 'js/gerenciamento_modal_notificacao_usuarios.js' %}"></script>
<script src="{% static 'js/scripts_agendamedica/gerenciamento_remocao_dados.js' %}"></script>


<script src="{% static 'js/alterar_caracteres_input_tempo_real.js' %}"></script>
{% endblock %}