{% extends 'dashboard/base/index-govbr.html' %}
{% block title %}Encaminhamento{% endblock %}
{% load widget_tweaks %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/icones-acoes.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/modal-notificacao-usuario.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/forms.css' %}"/>
{% endblock %}

{% block content %}

    <div class="container">

        {% include 'dashboard/includes/saude/breadcrumb.html' %}

        <div class="row mt-1">
            <div class="col-md">
                <div class="br-card">

                    <div class="card-header">
                        <div class="d-flex">
                            <div class="ml-3">
                                <div class="text-weight-semi-bold text-up-02 color-title font-size24"><i class="fa-solid fa-truck-medical mr-1"></i> ENCAMINHAMENTO</div>
                            </div>
                        </div>
                    </div>

                    <hr>
                    
                    <div class="card-content mt-n10-tb">
                        <form class="box-wdth-search" id="formSubmit" method="get" onsubmit="setDate()">
                            <div class="card-body">
                                <div class="form-group row">
                                    <div class="col-left-search">
                                        <div class="br-input">
                                            <label for="id_nome">Dados da Busca</label>
                                            <input type="text" name="buscar_nome" maxlength="255" class="form-control input-com-alfanumericas mt-2" value="{{buscar_nome}}" style="height:44px !important;">
                                        </div>
                                    </div>
                                    <div class="col-right-search">
                                        <div class="br-select mt-10-w mt-10-tb">
                                            <div class="br-input">
                                            <label for="select-simple">Opção de Busca</label>
                                            <input class="mt-2 id="select-simple" type="text" placeholder="Selecione o item" style="height:44px !important;"/>
                                            <button class="br-button" type="button" aria-label="Exibir lista" tabindex="-1" data-trigger="data-trigger">
                                                <i class="fas fa-angle-down" aria-hidden="true"></i>
                                            </button>
                                            </div>
                                            <div class="br-list" tabindex="0">
                                            <div class="br-item {% if opcao_filtro == 'paciente' %} selected {% endif %}" tabindex="-1">
                                                <div class="br-radio">
                                                <input id="rb0" type="radio" name="opcao_filtro" value="paciente"/>
                                                <label for="rb0">Paciente</label>
                                                </div>
                                            </div>
                                            <div class="br-item {% if opcao_filtro == 'cpf' %} selected {% endif %}" tabindex="-1">
                                                <div class="br-radio">
                                                <input id="rb1" type="radio" name="opcao_filtro" value="cpf"/>
                                                <label for="rb1">CPF</label>
                                                </div>
                                            </div>
                                            <div class="br-item {% if opcao_filtro == 'rg' %} selected {% endif %}" tabindex="-1">
                                                <div class="br-radio">
                                                <input id="rb2" type="radio" name="opcao_filtro" value="rg"/>
                                                <label for="rb2">RG</label>
                                                </div>
                                            </div>
                                            <div class="br-item {% if opcao_filtro == 'sus' %} selected {% endif %}" tabindex="-1">
                                                <div class="br-radio">
                                                <input id="rb3" type="radio" name="opcao_filtro" value="sus"/>
                                                <label for="rb3">Cartão Sus</label>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer mt-3">
                                <button class="br-button primary ml-n15" type="submit">
                                    <i class="fas fa-search"></i> Buscar
                                </button>
                            </div>
                        </form>
                    </div>
                  
                </div>
            </div>
        </div>

        {% comment %} Mensagens de Alerta {% endcomment %}
        {% include 'dashboard/includes/mensagens.html' %}

        <div class="row">
            <div class="col-md">
                <div class="br-card hover">
                    <div class="card-content">
                        <div class="br-table" data-search="data-search" data-selection="data-selection" data-collapse="data-collapse"
                            data-random="data-random">
                            
                            <div class="table-header">
                                <div class="top-bar">
                                    <div class="table-title"><i class="fa-solid fa-list-ul color-title"></i> LISTA DE PACIENTES PARA ENCAMINHAMENTO</div><hr>
                                </div>
                            </div>
                            
                            <table class="table table-responsive mt-2">
                                <thead>
                                    <tr>
                                        <th class="th-color visible-xs" style="width:5%;"></th>
                                        <th class="th-color hidden-xs" style="width:5%;"></th>
                                        <th class="th-color hidden-xs" style="width:5%;"></th>
                                        <th class="th-color hidden-xs" style="width:5%;"></th>
                                        <th class="th-color hidden-xs" style="width:5%;"></th>
                                        <th class="th-color"><b>Nome do Paciente</b></th>
                                        <th class="th-color hidden-xs"><b>Data de Entrada</b></th>
                                        <th class="th-color hidden-xs"><b>Hora de Entrada</b></th>
                                        <th class="th-color hidden-xs"><b>Queixa Principal</b></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="8" style="background-color: #00b0e4; color: #fff;"></td>
                                    </tr>
                                    {% if boletimPaciente %}
                                        {% for dados in boletimPaciente %}
                                            <tr>
                                                <td class="visible-xs">
                                                    <button class="mostra-columns br-button circle" onclick="modalInfo('{{dados.paciente.nome_paciente}}', '{{dados.created_at|date:'d/m/Y'}}', '{{dados.created_at|time:'H:i'}}', '{{dados.boletim_classificacao_risco_set.queixa_principal}}' )">
                                                    <i class="fa-solid fa-circle-plus font-size18"></i>
                                                    </button>
                                                </td>
                                                <td class="hidden-xs">
                                                    <a href="#"><i class="far fa-file-pdf" style="font-size:23px; text-transform:uppercase;"></i></a>
                                                </td>
                                                <td class="hidden-xs"  style="text-transform:uppercase; width:10%;">
                                                    <a href="#" class="br-button primary small" type="button" style="width:115px; font-size:13px;">Encaminhar</a>
                                                </td>
                                                <td class="hidden-xs"  style="text-transform:uppercase; width:10%;">
                                                    <a href="#" class="br-button primary small" type="button" style="width:205px; font-size:13px;"><i class="fas fa-bed"></i> &nbsp;Solicitar Internação</a>
                                                </td>
                                                <td class="hidden-xs">
                                                    <a href="#"><i class="fas fa-arrow-alt-circle-right" style="font-size:25px; color:#00b300;"></i></a>
                                                </td>
                                                <td class="capslock">{{dados.paciente.nome_paciente}}</td>
                                                <td class="hidden-xs capslock">{{dados.created_at|date:'d/m/Y'}}</td>
                                                <td class="hidden-xs capslock">{{dados.created_at|time:'H:i'}}</td>
                                                <td class="hidden-xs capslock">{{dados.boletim_classificacao_risco_set.queixa_principal}}</td>
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                        <p style="text-align: center" class="my-2">Não encontramos nenhum dado para a pesquisa realizada!</p>
                                    {% endif %}
                                    </tbody>
                                </table>
                                {% include 'dashboard/includes/paginacao.html' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
    
{% block components-modal %}
    {% include 'dashboard/includes/confirmar_cancelar_remocao.html' %}
{% endblock %}

{% block script %}
   <script>
        function modalInfo(nome, data_entrada, hora_entrada, queixa_principal){
            Swal.fire({
                    html: `
                    <div class="container" style="width:90%;">

                        <div class="swal2-title swal2-title-custom text-left mt-6" id="swal2-title">
                            <div class="row">
                                <div class="col-12">
                                    <button type="button" class="close" style="background-color:#0459A1; border:none; color:white; font-size:15px; width:30px; height:30px;" aria-label="Close" onclick="Swal.close()">X</button>
                                    <h2 class="mt-n1"><label class="text-color-blue-1gov custom-text ft-sz14">Detalhes do Paciente</label></h2>
                                </div>
                            </div>
                        </div>

                        <div class="row font-size16 mt-1">
                            <div class="col-4 color-title">
                                <span class="">Paciente:</span>
                            </div>
                            <div class="col-6">
                                <span>${nome}<span/>
                            </div>
                        </div><hr/>

                        <div class="row font-size16 mt-2">
                            <div class="col-4 color-title">
                                <span>Entrada:</span>
                            </div>
                            <div class="col-6">
                                <span>${data_entrada} às ${hora_entrada}</span>
                            </div>
                        </div><hr/>

                        <div class="row font-size16 mt-2">
                            <div class="col-4 color-title">
                                <span>Queixa Principal:</span>
                            </div>
                            <div class="col-6">
                                <span>${queixa_principal}</span>
                            </div>
                        </div><hr/>

                        <div class="row font-size16 mt-10 mb-3">
                            <div class="col-6 text-center color-title">
                                <span><a href="#"><button class="br-button primary small" type="button" style="width:155px; font-size:15px;">Pdf</button></a></span>
                            </div>
                            <div class="col-6 text-center">
                                <span><a href="#"><button class="br-button primary small" type="button" style="width:155px; font-size:15px;">Encaminhar</button></a></span>
                            </div>
                        </div>
                        <div class="row font-size16 mt-10 mb-3">
                            <div class="col-6 text-center color-title">
                                <span><a href="#"><button class="br-button primary small" type="button" style="width:155px; font-size:15px;">Solicitar Internação</button></a></span>
                            </div>
                            <div class="col-6 text-center">
                                <span><a href="#"><button class="br-button primary small" type="button" style="width:155px; font-size:15px;"><i class="fas fa-arrow-alt-circle-right"></i></button></a></span>
                            </div>
                        </div>
                        <hr style="border:1px solid #a6a6a6;">

                    </div>
                    `,
                    confirmButtonColor: "#1250b4",
                    confirmButtonText: '<i class="fa-regular fa-floppy-disk mr-2"></i>Salvar',
                    cancelButtonText: '<i class="fa-solid fa-xmark mr-2"></i> Fechar',
                    showCancelButton: false,
                    showConfirmButton: false,
                    //reverseButtons: true,
                    allowOutsideClick: true,
            });
        }
   </script>
{% endblock %}