<div class="row">
    <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11">
        <div class="br-message warning mt-5 mb-3">
            <div class="icon">
                <i class="fas fa-exclamation-triangle fa-lg" aria-hidden="true"></i>
            </div>
            <div class="content" aria-label="Os campos com * devem obrigatoriamente ser preenchidos." role="alert">
                <span class="message-title">Atenção.</span>
                <span class="message-body"> Os campos com <span class="text-danger">*</span> devem obrigatoriamente ser preenchidos.
                </span>
            </div>
        </div>
    </div>
</div>